/* External CSS file */

h2 {
  color: darkblue;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

footer a:hover {
  color: lightgreen;
  text-decoration: underline;
}

/* Adding smooth hover effects */
.nav-link:hover {
  color: lightgreen !important;
}
